<nav id="sidebar-nav-links">
  {% if site.sidebar_main_link %}
    <a class="page-link"
	href="{{ site.sidebar_main_link }}">Back to main site</a>
  {% endif %}
  {% if site.sidebar_home_link %}
  {% assign root_path = site.blog_home_path | default: "/" | relative_url %}
    <a class="home-link {% if page.url == root_path %} active{% endif %}"
        href="{{ root_path | relative_url }}">Home</a>
  {% endif %}
  {% if site.sidebar_blog_link %}
    <a class="page-link {% if page.url == site.sidebar_blog_link %} active{% endif %}"
	href="{{ site.sidebar_blog_link | relative_url }}">Blog</a>
  {% endif %}

  {% comment %}
    The code below dynamically generates a sidebar nav of pages with
    `sidebar_link: true` in the front-matter. See readme for usage.
  {% endcomment %}

  {% include page-links.html %}
  {% include category-links.html %}

  {% include custom-nav-links.html %}
</nav>
